<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../assets/css/menu.css">
    <link rel="stylesheet" href="../../../../assets/css/head-foot.css">
    <title>Menu</title>
</head>
<body>
    <main>
        <section class="title">
            <h1>Menu</h1>
            <div class="product-categories">
                <a href="#" class="category">Cafés</a>
                <a href="#" class="category">Massas</a>
                <a href="#" class="category">Sobremesas</a>
            </div>
        </section>
        <section class="menu">
            <div class="menu__item-container">
                <img src="../../../../assets/images/pexels-kübra-doğu-8774282.jpg" alt="" class="item__img">
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <img src="../../../../assets/images/pexels-kübra-doğu-8774282.jpg" alt="" class="item__img">
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <img src="../../../../assets/images/pexels-kübra-doğu-8774282.jpg" alt="" class="item__img">
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <img src="../../../../assets/images/pexels-kübra-doğu-8774282.jpg" alt="" class="item__img">
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <img src="../../../../assets/images/pexels-kübra-doğu-8774282.jpg" alt="" class="item__img">
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
        </section>
    </main>
</body>
</html>