<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../assets/css/pesquisa.css">
    <link rel="stylesheet" href="../../../../assets/css/head-foot.css">
    <title>Buscando por: </title>
</head>
<body>
    <main>
        <section class="title">
            <div class="menu-info">
                <h1><i class="fa-solid fa-magnifying-glass"></i> *Pesquisa feita seu baitola de mierrrrda imundo gay desgraça*</h1>
                <h2 class="category-info">Sobremesas</h2>
            </div>
            <div class="product-categories">
                <a href="#" class="category">Cafés</a>
                <a href="#" class="category">Massas</a>
                <a href="#" class="category">Sobremesas</a>
            </div>
        </section>
        <section class="menu">
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-mohammad-khorram-14704657.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-alisha-mishra-1346345.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-mohammad-khorram-14704660.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-spotwizardlee-9884561.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-mohammad-khorram-14704657.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-bytes-for-food-15157808.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-mohammad-khorram-14704657.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-alisha-mishra-1346345.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-spotwizardlee-9884561.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-mohammad-khorram-14704660.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
            <div class="menu__item-container">
                <div class="img-container"><img src="../../../../assets/images/pexels-rajdeepcraft-6416554.jpg" alt="" class="item-img"></div>
                <div class="item-details">
                    <p>Teste</p>
                    <b>R$99.99</b>
                </div>
            </div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/9682b31f0e.js" crossorigin="anonymous"></script>
</body>
</html>