/*Importando a fonte utilizada*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");

:root {
  /*Paleta Principal*/
  --chr-color: #dde3e3ff;
  --chr-lgt-color: #dde3e391;
  --ui-layout: #000000;
  --ui-details: #6d9891ff;

  /*Cores Complementares*/
  --cmplt-green: #a8bab9ff;
  --cmplt-brown: #2b0000;
}

/*Importando a fonte utilizada*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Estilizações gerais */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

video::-webkit-media-controls {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Estilização do body */

body {
    padding: 2rem;
    background-color: var(--cmplt-brown);
}

h1 {
    color: var(--chr-color);
    text-align: center;
    padding: 1.5rem;
    font-size: clamp(1.5625rem, 0.8125rem + 3vw, 2.5rem);
}

.form-produto {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
    width: max-content;
    max-width: 70%;
    margin: 0 auto;
    background-color: var(--ui-details);
    border-radius: .5rem;
}

.form-produto > * {
    width: 100%;
    border-radius: .2rem;
    border: none;
    height: 25px;
}

.form-produto > *:focus {
    outline: 2px var(--ui-layout) solid; 
}

label {
    font-weight: bold;
}

button {
    transition: all 200ms;
}

button:hover {
    background-color: var(--cmplt-green);
}