:root {
  /*Paleta Principal*/
  --chr-color: #dde3e3ff;
  --chr-lgt-color: #dde3e391;
  --ui-layout: #000000;
  --ui-details: #6d9891ff;

  /*Cores Complementares*/
  --cmplt-green: #a8bab9ff;
}

/* Main (conteúdo principal) */

main {
  display: grid;
  place-items: center;
  background: var(--ui-layout);
  padding: 1rem;
  min-height: 100vh;
}

/* Formatação do card */

.cad-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--chr-color);
  border: 0.2em var(--ui-layout) inset;
  max-width: max(80% - 4vh);
  width: 100%;
  max-height: max(100% - 2vh);
  height: 100%;
  border-radius: 0.5rem;
}

.cad-card > * {
  flex-basis: 50%;
}

/* Estilização da imagem do card */

.cad-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  z-index: 5;
}

.cad-card__legenda::after {
  content: "";
  background-image: url(../images/img-grande.jpg);
  background-size: cover;
  filter: blur(0.1rem);
  z-index: -2;
  inset: 0;
  position: absolute;
}

.cad-card__legenda::before {
  content: "";
  background-color: #4141415d;
  background-repeat: no-repeat;
  z-index: -1;
  inset: 0;
  position: absolute;
  backdrop-filter: blur(0.3rem);
}

.cad-card__img {
  mix-blend-mode: color-dodge;
  filter: drop-shadow(0 0 0.7rem #dde3e3ff);
  user-select: none;
  z-index: 888;
}

/*Estilização do conteúdo do card (Form e seu título)*/

.cad-card__content {
  display: flex;
  justify-content: center;
  align-items: center;

}

.cad-card__form-header {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}

.cad-card__title {
  padding: 0.5rem;
  user-select: none;
}

.cad-card__subtitle {
  font-size: clamp(1.7rem, -0.875rem + 8vw, 2.5rem);
  min-width: max-content;
  color: var(--ui-layout);
  -webkit-text-stroke: #00000094 0.05rem;
}

.cad-card__title > a {
  font-size: clamp(0.8rem, 1ch + 0.5vw, 2.3rem);
  color: var(--ui-layout);
}

.cad-card__title > a:hover {
  text-decoration: overline;
  color: var(--ui-details);
}

.cad-card__login {
  align-self: flex-end;
}

.cad-card__login-button {
  padding: 0.5em;
  border: none;
  background-color: var(--cmplt-green);
  color: var(--ui-layout);
  font-weight: 600;
  cursor: pointer;
  transition: ease-out .2s;
  border-radius: 0.2em;
}

.cad-card__login-button:hover,
.cad-card__login-button:target {
  filter: brightness(50%);
}

.cad-card__inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cad-card__input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  max-width: 85%;
  overflow: hidden;
}

.cad-card__label {
  font-size: clamp(0.1ch, 1.3ch + 0.5vw, 3ch);
  color: var(--ui-layout);
}

.cad-card__input {
  min-height: max(1.7rem);
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  background: var(--ui-details);
  outline: none;
  color: var(--chr-color);
  font-weight: bolder;
  border-bottom: solid 1px var(--ui-layout);
}

.cad-card__input::placeholder {
  user-select: none;
  opacity: 0;
  color: var(--chr-color);
}

.cad-card__input:focus::placeholder {
  opacity: 0.5;
}

/* Fim do card */

/* Pop Up */

.popUp {
  display: flex;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.353);
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.popUp-content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--ui-details);
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px black;
  max-width: 500px;
  min-height: 200px;
  width: 80%;
  overflow: hidden;
}

.popUp-content h1 {
  font-size: clamp(1.5rem, -0.875rem + 6vw, 2rem);
  color: var(--cmplt-lgt-brown);
}

.popUp-close {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  background: solid white;
  border-radius: 15px;
  z-index: 1;
  color: white;
  font-size: clamp(1.3rem, -0.875rem + 5vw, 1.7rem);
}

.popUp-title {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--ui-layout);
  position: absolute;
  padding: 0.5rem;
  border-top: transparent;
  text-align: center;
  top: 0;
}

.popUp-text {
  margin-top: 30px;
  color: white;
  user-select: text;
  text-align: center;
  font-size: clamp(1rem, -0.875rem + 5vw, 1.5rem);
}

/* Pop Up End */

/* Media queries para responsividade */

@media (max-width: 850px) {
  main {
    height: 110vh;
  }

  .cad-card {
    justify-content: start;
    max-height: max-content;
  }

  .cad-card__content {
    border-top: 0.1rem solid var(--ui-layout);
    flex-basis: 100%;
  }

  .cad-card__icon {
    flex-basis: 100%;
  }
}

@media (max-height: 470px) {
  main {
    height: max-content;
  }

  .cad-card__content {
    max-height: max-content;
  }
}

/* Fim da responsividade */