:root {
  /*Paleta Principal*/
  --chr-color: #dde3e3ff;
  --chr-lgt-color: #dde3e391;
  --ui-layout: #000000;
  --ui-details: #6d9891ff;

  --bg-color: #262a56;

  /*Cores Complementares*/
  --cmplt-green: #a8bab9ff;
  --cmplt-brown: #2b0000;
}

.categories-container {
  color: var(--chr-color);
  min-height: 100vh;
}

.categories-container h2 {
  color: var(--cmplt-brown);
  padding: 1rem 0.5rem;
  background-color: var(--chr-color);
  text-align: center;
}


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 1.5rem 1rem;
  background-color: var(--cmplt-brown);
  height: 100vh;
  flex-wrap: wrap;
}

.category {
  align-self: flex-start;
  list-style: none;
}

label {
  text-transform: capitalize;
  font-weight: bold;
  font-size: clamp(0.9375rem, 0.4375rem + 2vw, 1.5625rem);
}

input[type="checkbox"] {
  accent-color: var(--bg-color);
  width: clamp(0.9375rem, 0.4375rem + 2vw, 1.5625rem);
  height: clamp(0.9375rem, 0.4375rem + 2vw, 1.5625rem);
  cursor: pointer;
}

.submit-btn {
  position: fixed;
  bottom: 5%;
  right: 10%;
  padding: 0.5rem;
  border: none;
  background-color: var(--bg-color);
  color: var(--chr-color);
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-btn:hover {
  filter: brightness(50%);
}
