:root {
  /*Paleta Principal*/
  --chr-color: #dde3e3ff;
  --chr-lgt-color: #dde3e391;
  --ui-layout: #000000;
  --ui-details: #6d9891ff;

  --bg-color: #262a56;

  /*Cores Complementares*/
  --cmplt-green: #a8bab9ff;
  --cmplt-brown: #2b0000;
}

.categories-container {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--chr-color);
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: var(--cmplt-brown);
}

.wrapper h2 {
  color: var(--cmplt-brown);
}

.category {
  align-self: flex-start;
  list-style: none;
}

h2 {
  padding: 1rem 0.5rem;
  background-color: var(--chr-color);
}

input[type="checkbox"] {
  accent-color: var(--bg-color);
}

.submit-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 0.5rem;
  border: none;
  background-color: var(--bg-color);
  color: var(--chr-color);
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-btn:hover {
  filter: brightness(50%);
}
