<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../assets/css/cad-produto.css">
    <title>Cadastrar Produto</title>
</head>
<body>
    <h1>Cadastre um Produto</h1>
    <form action="post" class="form-produto">
        <label for="name" class="input-name">Nome: </label><input type="text" class="input" name="name">
        <label for="price" class="input-name">Preço: </label><input type="text" class="input" name="price">
        <label for="stock" class="input-name">Quanto há em estoque: </label><input type="number" class="input" name="stock">
        <label for="img" class="input-name">Imagem: </label><input type="file" class="input" name="img">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>