<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>head-foot.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>historico.css">
    <link rel="stylesheet" href="../../../../assets/css/historico.css">
    <link rel="stylesheet" href="../../../../assets/css/head-foot.css">
    <title>Histórico de Vendas</title>
</head>

<body>

    <?php

    include(HEADER);

    ?>

    <h1>Últimas Vendas Realizadas</h1>
    <form action="" class="history-date">
        <input type="date" name="date" id="date">
        <button type="submit">Checar</button>
    </form>
    <div class="table-wrapper">
        <table class="vendas">
            <thead>
                <tr>
                    <th>Datas</th>
                    <th>Comprador</th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Token</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
                <tr>
                    <th>9 de janeiro</th>
                    <td>Seu José</td>
                    <td>Bolacha</td>
                    <td>R$89,99</td>
                    <td>123jqz</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Faturamento</th>
                    <td colspan="4">R$999,999</td>
                </tr>
            </tfoot>
        </table>
    </div>

</body>

</html>