<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../assets/css/pref-categorias.css">
    <link rel="stylesheet" href="../../../../assets/css/head-foot.css">
    <title>Seu produto é: </title>
</head>
<body>
    <form class="categories-container">
        <ul class="wrapper cafes">
            <h2>Cafés</h2>
            <li class="category">
                <label for="">Bolsonaro: </label>
                <input type="checkbox">
            </li>
            <li class="category">
                <label for="">Lula: </label>
                <input type="checkbox">
            </li>
        </ul>
        <ul class="wrapper massas">
            <h2>Massas</h2>
            <li class="category">
                <label for="">Naruto: </label>
                <input type="checkbox">
            </li>
            <li class="category">
                <label for="">Corinthians: </label>
                <input type="checkbox">
            </li>
        </ul>
        <ul class="wrapper sobremesas">
            <h2>Sobremesas</h2>
            <li class="category">
                <label for="">Naruto: </label>
                <input type="checkbox">
            </li>
            <li class="category">
                <label for="">Corinthians: </label>
                <input type="checkbox">
            </li>
        </ul>
        <input type="submit" value="Confirmar" class="submit-btn">
    </form>
</body>
</html>