*{
    margin:0;
    padding:0;
}

.a1{
    text-align: center;
    color:rgb(250, 189, 139);
    font-family: 'segoe script';
}

.login{
    text-decoration: none;
    text-align: center;
    color:rgb(241, 211, 187);
    font-family: 'segoe script';
    text-shadow:
    0px 2px 5px rgb(66, 40, 19),
    1px 3px 9px rgb(207, 156, 92)
    ;
}

.img1{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    right: 15px;
    filter:drop-shadow(0px 0px 25px bisque);
    transition: 0.2s;
}

.img1:hover{
    width: 45px;
    height: 45px;
    bottom: 35px;
    right: 15px;
}

.img2{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 15px;
}

.img3{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 15px;
    transform: rotate(20%);
}

nav{
    display:flex;
}

.div{
    width: 100%;
}

.div1{
    background-color: rgb(66, 40, 19);
    min-width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto 0 auto;
    padding: 1rem;
    display: flex;
}

.wrapper{
    margin: 0 auto;

}

label{
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    width: 10px;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    padding: 10px 20px;
}

.div2{
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    text-shadow: 1px 2px 7px beige;
}

.nomein, .emailin, .cpfin, .senhain, .rbin, .numin{
    background-color: rgb(114, 67, 29);
    border: rgb(66, 36, 24);
    width: 300px;
    height: 40px;
}

.sub,.res{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border-color: rgb(114, 67, 29);
    background-color: rgb(255, 236, 212);
    font-family: 'segoe script';
    font-size: 15px;
    cursor: pointer;
    color: rgb(66, 36, 24);
}

input::placeholder{
    filter:opacity(25%);
    font-size: 15px;
    font-family: 'Segoe Script';
    color:rgb(255, 236, 212);
    letter-spacing: 2.5px;
}

input{
    color:beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

.gen, .senha, .cpf, .email, .nome, .rb, .num{
    font-size: 17px;
    text-decoration: overline 1px;
    text-decoration-color: rgb(250, 189, 139);
    letter-spacing: -1px;
}


body{
    background: url('../fundo.jpeg');
}